section{
    width: 500px;
    height: 500px;
    background-color: lightblue;
    border: 1px solid black;
}

#rgba{
    width: 50%;
    height: 50%;
    /* a stand for alpha channel */
    background-color: rgba(255, 255, 255, 0.3); 
}


#opacity{
    width: 50%;
    height: 50%;
    /* a stand for alpha channel */
    background-color: rgba(255, 255, 255); 
    opacity: 0.3; 
   
}

#static , #relative , #absolute, #fixed, #sticky{ 
    background-color: white;
}

.position{
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle{
    background-color: #81b29a;
}

#static #middle{
    /* static position is not relative to the parent element. Top, bottom, left, right is  */
    position: static;
    top: 500px;
}


#relative #middle{
    /* relative position is relative to the parent element. Top, bottom, left, right is  */
    position: relative;
    top: 50px;
    left: 50px;
}

#absolute{
    position: relative;
}

#absolute #middle{
    /* absolute position is relative to the nearest positioned ancestor. Top, bottom, left, right is  */
    position: absolute;
    top: 200px;
    left: 100px;
}


#fixed #middle{
    /* fixed position is relative to the viewport. Top, bottom, left, right is  */
    position: fixed;
    top: 200px;
    left: 100px;
}

#sticky #middle{
    position: -webkit-sticky; /* Safari */ /* For old WebKit browsers */
    position: sticky;
    top: 100px;
}

.circle{
    width: 300px;
    height: 300px;
    background-color: #000000;
    /* transition: 1s; */
    transition: background-color 1s 1s;
}

.circle:hover{
    background-color: #0058f0;
    border-radius: 50%
}

/* transition style */
section div {
    height: 100px;
    width: 100px;
    background-color: turquoise;
    margin: 20px 0;
    transition: margin-left 3s;
}

section:hover div{
    margin-left: 800px;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
}

div:nth-of-type(2){
    transition-timing-function: ease-out;
}

div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

div:nth-of-type(4){
     transition-timing-function: linear;
}

