/* transform */

h1{
    background-color: #2a9d8f;
    border: 5px solid #000000;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;

    transition: transform 2s 1s;
}

.sectionOne > h1:nth-of-type(1){
    background-color: #00ff80;
    transform-origin: top right;
    transform: rotate(45deg);
}
.sectionOne > h1:nth-of-type(2){
    background-color: #f4a261;
    transform: scale(0.5);
}       
.sectionOne > h1:nth-of-type(3){
    background-color: #01491f;
    transform: scaleX(2);

}
.sectionOne > h1:nth-of-type(4){
    background-color: #00aeff;
    transform: translate(100px, 50px);
}

.sectionTwo > h1:nth-of-type(1){
    background-color: #00ff80;
    transform: skew(20deg, 10deg);
}
.sectionTwo > h1:nth-of-type(2){
    background-color: #f4a261;
}       
.sectionTwo > h1:nth-of-type(3){
    background-color: #01491f;
    transform: rotate(180deg) scale(0.5);
}

.sectionTwo > h1:nth-of-type(4){
    background-color: #00aeff;
    /* multiple function values     */
    transform: translateX(10px) rotate(10deg) translateY(5px);
}

