body{
   margin: 0px;
}

div{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-width: 15px 5px 25px 5px;
    border-color: red green blue yellow;
    border-style: dotted solid double dashed;
    padding: 5px;
}

h1{
    background-color: pink;
    margin: 0px;
}

#one{
    background-color: #cdb4db;
    box-sizing: border-box;
    padding: 10px;
    /* display: inline-block; */
}

#two{
    background-color: #ffc8dd;
    box-sizing: content-box;
    border-radius: 20px;;
    border-style: groove;
    /* display: inline-block; */
    margin-top: 0px;
}

#three{
    background-color: #a2d2ff;
/* width | style | color     */
    border: medium dashed #00ff22;
    border-left-style: inset;
    /* display: inline-block; */
    margin-top: 0px;
}

button{
    /* vertical | horizontal */
    padding: 10px 20px;
    /* margin: 10px 20px; */
    /* display: inline-block; */
}